<h1> Edit Your Listing</h1>
<h1>You: <%= current_user.fname %></h1>
<h3>Email: <%= current_user.email %></h3>

<h2>Selected Listing: <%= @listing.address %> .: Listing ID # <%= @listing.id %></h2>

<h2>Details:</h2>

<form class="form" action="/listings/<%= @listing.id %>" method="POST">
  <input type="hidden" name="_method" value="patch">
  <table width="100%" border="1" cellspacing="1" cellpadding="1">
    <tbody>
    <tr>
      <th colspan="2" scope="col">Listing Address:
        <input name="listing[address]" type="text" value="<%= @listing.address %>" style="width:400px;"></th>
    </tr>
    <tr>
      <th colspan="2" scope="col">Asking Price: $
        <input type="text" name="listing[asking_price]" value="<%= @listing.asking_price %>">. 00</th>
    </tr>
    <tr>
      <td><label for="hoa" class="label-name">HOA</label></td>
      <td><label for="bedrooms" class="label-name">Bedrooms</label></td>
    </tr>
    <tr>
      <td><input type="text" name="listing[hoa]" value="<%= @listing.hoa_id %>"></td>
      <td><input type="text" name="listing[bedrooms]" value="<%= @listing.bedrooms %>"> Bedrooms</td>
    </tr>
    <tr>
      <td><label for="status" class="label-name">*Dropdown Listing Status</label></td>
      <td><label for="bathrooms" class="label-name">Bathrooms</label></td>
    </tr>
    <tr>
      <td><input type="text" name="listing[status]" value="<%= @listing.status %>"></td>
      <td><input type="text" name="listing[bathrooms]" value="<%= @listing.bathrooms %>"> Baths</td>
    </tr>
    <tr>
      <td><label for="first_listed" class="label-name">*Date First Time listed</label></td>
      <td><label for="sqft" class="label-name">SQFT</label></td>
    </tr>
    <tr>
      <td><input type="text" name="listing[first_listed]" value="<%= @listing.first_listed %>"></td>
      <td><input type="text" name="listing[sqft]" value="<%= @listing.sqft %>"> SQFT</td>
    </tr>

    <td colspan="2">Summary</td>
    </tr>
    <tr>
      <td colspan="2"><textarea name="listing[summary]" value="" style="width: 525px"><%= @listing.summary.to_s %></textarea></td>
    </tr>
    <tr>
      <td><img src="<%= @listing.photo_1 %>" alt="" width="250" height="188"/></td>
    </tr>
    <tr>
      <td colspan="2"><input type="text" name="listing[photo_1]" value="<%= @listing.photo_1 %>"/></td>
    </tr>
    <tr>
      <td><img src="<%= @listing.photo_2 %>" alt="" width="250" height="188"/></td>
    </tr>
    <tr>
      <td colspan="2"><input type="text" name="listing[photo_2]" value="<%= @listing.photo_2 %>"/></td>
    </tr>
    <tr>
      <td><img src="<%= @listing.photo_3 %>" alt="" width="250" height="188"/></td>
    </tr>
    <tr>
      <td colspan="2"><input type="text" name="listing[photo_3]" value="<%= @listing.photo_3 %>"/></td>
    </tr>
    <tr>
      <td><img src="<%= @listing.photo_4 %>" alt="" width="250" height="188"/></td>
    </tr>
    <tr>
      <td colspan="2"><input type="text" name="listing[photo_4]" value="<%= @listing.photo_4 %>"/></td>
    </tr>

    </tbody>
  </table>

  <input type="submit" value="update" class="button"/>
</form>
