<h1>Edit Hoa</h1>
<section id="page">
  <form class="form" action="/hoas/<%= @hoa.id %>" method="POST">
    <input type="hidden" name="_method" value="patch">

    <label for="hoa_contact" class="label-name">Contact</label>
    <input type="text" id="hoa_contact" name="hoa[hoa_contact]" value="<%= @hoa.contact %>" /><br>

    <label for="hoa_contact" class="label-name">Phone</label>
    <input type="text" id="hoa_phone" name="hoa[hoa_phone]" value="<%= @hoa.phone.to_s %>" /><br>

    <label for="hoa_address" class="label-name">Email</label>
    <input type="text" id="hoa_email" name="hoa[hoa_email]" value="<%= @hoa.email.to_s %>" /><br>


    <label for="hoa_community" class="label-name">Community</label>
    <input type="text" id="hoa_community" name="hoa[hoa_community]" value="<%= @hoa.community %>" /><br>

    <label for="hoa_address" class="label-name">Address</label>
    <input type="text" id="hoa_address" name="hoa[hoa_address]" value="<%= @hoa.address %>" /><br>

    <label for="hoa_address" class="label-name">City</label>
    <input type="text" id="hoa_city" name="hoa[hoa_city]" value="<%= @hoa.city.to_s %>" /><br>

    <label for="hoa_address" class="label-name">State</label>
    <input type="text" id="hoa_state" name="hoa[hoa_state]" value="<%= @hoa.state.to_s %>" /><br>

    <label for="hoa_address" class="label-name">Zip</label>
    <input type="text" id="hoa_zipcode" name="hoa[hoa_zipcodes]" value="<%= @hoa.zipcode.to_s %>" /><br>

    <label for="hoa_website" class="label-name">Website</label>
    <input type="text" id="hoa_website" name="hoa[hoa_website]" value="<%= @hoa.website.to_s %>" /><br>

    <input type="submit" value="Update Hoa" class="button" />
  </form>

  <nav>
    <ol>
      <li><a href="/hoas">Hoas Home</a></li>
      <li><a href="/hoas/new">New</a></li>

    </ol>
  </nav>
</section>
