<h1>Show All HOAs</h1>
<section id="page">
  <table class="table-striped">
    <thead>
    <% if signed_in? %>
      <th>


        <a href="/hoas/new"><h3>Create New HOA</h3></a>

      </th>

      <th>Edit</th>
      <th>Delete</th>
      <% else %>

      <tr>
        <th>HOA</th>
        <th>Details</th>

    </tr>
    <% end %>
    </thead>

    <tbody>
    <% @hoas.each do |hoa| %>
      <tr>
        <% if signed_in? %>

        <td><%= hoa.address.to_s %><br><%= hoa.city.to_s %>
          <%= hoa.state.to_s %>  <%= hoa.zipcode.to_s %><br>
          <%= hoa.phone.to_s %><br>
          <%= hoa.email.to_s %><br>
          <a href="<%= hoa.website.to_s %>" target="_blank" >Website</a>
        </td>

        <td><a href="/hoas/<%= hoa.id %>/edit">Edit</a></td>
        <td> <a href="<%= @delete %>/hoas/<%= hoa.id %>">Delete</a></td>
        <% else %>

          <td><%= hoa.address.to_s %><br><%= hoa.city.to_s %>
            <%= hoa.state.to_s %>  <%= hoa.zipcode.to_s %><br>
            <%= hoa.phone.to_s %><br>
            <%= hoa.email.to_s %><br>
            <a href="<%= hoa.website.to_s %>" target="_blank" >Website</a>
          <td><a href="/hoas/<%= hoa.id %>">Listing Details</a></td>
          </td>
        <% end %>
      </tr>
    <% end %>
    </tbody>
  </table>

</section>