<h1>Update Role Changes?</h1>


<section id="page">
  <table class="table-striped">
    <thead>
    <tr>
      <th>ID</th>
      <th>Role Name</th>
      <th>Created</th>
      <th>Updated</th>
      <th></th>
      <th></th>

    </tr>
    </thead>

    <tbody>

    <tr>
      <td><a href='/roles/<%= @roles.id %>/edit'><%= @roles.id %></a></td>
      <td><%= @roles.role_name %></td>
      <td><%= @roles.created_at.to_s %></td>
      <td><%= @roles.updated_at.to_s %></td>
      <td>
        <form method="get" action="/roles">
          <input type="submit" value="Continue" class="button"/>
        </form>
      </td>
      <td>
        <form method="post" action="/roles/<%= @roles.id %>">
          <input type="hidden" name="_method" value="delete"/>
          <input type="submit" value="Delete" class="button"/>
        </form>
      </td>

    </tr>

    </tbody>
  </table>
  <nav>
    <ol>
      <li><a href="/roles">Roles Home</a></li>
      <li><a href="/roles/new">New</a></li>

    </ol>
  </nav>

</section>